[submodule "dependencies/amaranth"]
	path = dependencies/amaranth
	url = https://github.com/amaranth-lang/amaranth
[submodule "dependencies/luna"]
	path = dependencies/luna
	url = https://github.com/martinling/luna
[submodule "dependencies/apollo"]
	path = dependencies/apollo
	url = https://github.com/martinling/apollo
[submodule "dependencies/saturn-v"]
	path = dependencies/saturn-v
	url = https://github.com/martinling/saturn-v
[submodule "dependencies/cynthion"]
	path = dependencies/cynthion
	url = https://github.com/martinling/cynthion
[submodule "dependencies/greatfet"]
	path = dependencies/greatfet
	url = https://github.com/greatscottgadgets/greatfet
[submodule "dependencies/python-usb-protocol"]
	path = dependencies/python-usb-protocol
	url = https://github.com/greatscottgadgets/python-usb-protocol
[submodule "dependencies/amaranth-stdio"]
	path = dependencies/amaranth-stdio
	url = https://github.com/amaranth-lang/amaranth-stdio
[submodule "dependencies/amaranth-boards"]
	path = dependencies/amaranth-boards
	url = https://github.com/amaranth-lang/amaranth-boards
[submodule "dependencies/libgreat"]
	path = dependencies/libgreat
	url = https://github.com/greatscottgadgets/libgreat
[submodule "dependencies/pyfwup"]
	path = dependencies/pyfwup
	url = https://github.com/greatscottgadgets/pyfwup
