# Cynthion in Saturn-V / Apollo mode
ATTR{idVendor}=="1d50", ATTR{idProduct}=="615c", TAG+="uaccess", GROUP="plugdev"

# Cynthion in FPGA mode
ATTR{idVendor}=="1d50", ATTR{idProduct}=="615b", TAG+="uaccess", GROUP="plugdev"

# PID.codes test PIDs
ATTR{idVendor}=="1209", ATTR{idProduct}=="0001", TAG+="uaccess", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0002", TAG+="uaccess", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0003", TAG+="uaccess", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0004", TAG+="uaccess", GROUP="plugdev"

# Flash bridge
ATTR{idVendor}=="1209", ATTR{idProduct}=="000f", TAG+="uaccess", GROUP="plugdev"

# GreatFET
ATTR{idVendor}=="1d50", ATTR{idProduct}=="60e6", TAG+="uaccess", GROUP="plugdev"

# GreatFET in DFU mode
ATTR{idVendor}=="1fc9", ATTR{idProduct}=="000c", TAG+="uaccess", GROUP="plugdev"

# Black Magic Probe
ATTR{idVendor}=="1d50", ATTR{idProduct}=="6018", TAG+="uaccess", GROUP="plugdev"

# Black Magic Probe in DFU mode
ATTR{idVendor}=="1d50", ATTR{idProduct}=="6017", TAG+="uaccess", GROUP="plugdev"

# Cypress FX2
ATTR{idVendor}=="04b4", ATTR{idProduct}=="8613", TAG+="uaccess", GROUP="plugdev"
ATTR{idVendor}=="04b4", ATTR{idProduct}=="1003", TAG+="uaccess", GROUP="plugdev"
